{% extends "template.twig" %}

{% block content %}
    {% if episodes is empty %}
    {% endif %}

    <div class=" grid grid-cols-1 gap-4 items-center w-full py-6 px-10">
        {% for i in 1..5 %}
            <div class="flex justify-evenly grid grid-cols-4  items-center xl:flex-row shadow hover:shadow-md w-full bg-white rounded-lg p-5">
                <h1 class="col-span-2 font-semibold text-xl tracking-tight pb-5">Season {{ i }}</h1>
                <h1 class="font-semibold text-l tracking-tight ">Air-date</h1>
                <h1 class="font-semibold text-l tracking-tight">Characters in episode</h1>
                {% for episode in episodes %}
                    {% if episode.season == i %}
                        <div class="grid col-span-2 hover:bg-gray-200 hover:rounded">
                            <a href="/episode/{{ episode.id }}" class="">
                                <span class="px-5">{{ episode.episode }}.</span>
                                {{ episode.name }}
                            </a>
                        </div>
                        <div>
                            {{ episode.airdate }}
                        </div>
                        <div class="pl-10">
                            {{ episode.characterIds|length }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}