{% extends "template.twig" %}

{% block content %}
    {% if locations is empty %}
        <div class="container mx-auto px-6 md:px-12 relative z-10 flex items-center py-32 xl:py-40 gap-4">
            <div class="w-full font-mono flex flex-col items-center relative z-10">
                <h1 class="font-bold text-5xl text-center text-black leading-tight mt-4">
                    No Characters found!!!!
                </h1>
            </div>
        </div>
    {% else %}
        <div class="bg-white p-20 shadow-lg rounded grid grid-cols-1 gap-4 items-center w-full py-6 px-20 p-6">
            <div class="flex items-center space-x-2 mb-4">
                <span class="text-gray-900 font-semibold text-lg tracking-wide">Locations</span>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full text-center font-light">
                    <thead class="border-b border-gray-300">
                    <tr>
                        <th scope="col" class="px-6 py-4">#</th>
                        <th scope="col" class="px-6 py-4">Name</th>
                        <th scope="col" class="px-6 py-4">Type</th>
                        <th scope="col" class="px-6 py-4">Dimension</th>
                        <th scope="col" class="px-6 py-4">Residing Characters</th>
                        <th scope="col" class="px-6 py-4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for location in locations %}
                        <tr class="border-b border-gray-300">
                            <td class="whitespace-nowrap px-6 py-4 font-medium">{{ location.id }}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{ location.name }}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{ location.type }}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{ location.dimension }}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{ location.characterIds|length }}</td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <a href="/location/{{ location.id }}"
                                   class="bg-gray-700 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded">
                                    See More
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flex items-center justify-center space-x-1 mb-5 ">
            <a href="/locations/{{ page.prev }}"
               class="px-4 py-2 text-gray-500 bg-gray-300 rounded-md hover:bg-black hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
                </svg>
            </a>
            {% for i in 1..page.pages %}
                <a href="/locations/{{ i }}"
                        {% if i == currentPage %}
                    class="px-4 py-2 text-white bg-black rounded-md"
                {% else %}
                    class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-black hover:text-white"
                        {% endif %}>
                    {{ i }}
                </a>
            {% endfor %}
            <a href="/locations/{{ page.next }}"
               class="px-4 py-2 text-gray-500 bg-gray-300 rounded-md hover:bg-black hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 7l5 5m0 0l-5 5m5-5H6"/>
                </svg>
            </a>
        </div>
    {% endif %}
{% endblock %}