{% extends "template.twig" %}

{% block content %}
    <div class="grid h-screen place-items-center">
        <h2 class="text-4xl font-extrabold dark:text-white">List of locations in Rick and Morty universe</h2>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="flex-col xl:flex-row shadow hover:shadow-md w-full bg-gray-300 rounded-lg overflow-hidden ">
                            <thead
                                    class="border-b bg-neutral-800 font-medium text-black dark:border-neutral-500 dark:bg-neutral-900">
                            <tr>
                                <th scope="col" class=" px-6 py-4">#</th>
                                <th scope="col" class=" px-6 py-4">Name</th>
                                <th scope="col" class=" px-6 py-4">Type</th>
                                <th scope="col" class=" px-6 py-4">Dimension</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locations %}
                                <tr class="border-b dark:border-neutral-500">
                                    <td class="whitespace-nowrap  px-6 py-4 font-medium">{{ location.id }}</td>
                                    <td class="whitespace-nowrap  px-6 py-4">{{ location.name }}</td>
                                    <td class="whitespace-nowrap  px-6 py-4">{{ location.type }}</td>
                                    <td class="whitespace-nowrap  px-6 py-4">{{ location.dimension }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-auto mx-auto">
            <ul class="inline-flex flex-wrap justify-center">
                <a
                        class="border border-gray-300 relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-100 hover:bg-neutral-100"
                        href="/locations/{{ page.prev }}"
                >Previous</a
                >
                {% for i in 1..page.pages%}
                    <li>
                        <a
                                class="border border-gray-300 relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-100 hover:bg-neutral-100"
                                href="/locations/{{ i }}"
                        >{{ i }}</a
                        >
                    </li>
                {% endfor %}
                <a
                        class="border border-gray-300 relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-100 hover:bg-neutral-100"
                        href="/locations/{{ page.next }}"
                >Next</a
                >
            </ul>
        </div>
    </div>
{% endblock %}