{% extends "template.twig" %}
{% block content %}
    <div class="bg-gray-100">
        <div class="container mx-auto my-5 p-5">
            <div class="md:flex no-wrap md:-mx-2 ">
            <!-- Left Side -->
            <div class="w-full md:w-3/12 md:mx-2">
                <!-- Profile Card -->
                <div class="bg-white p-3 border-t-4 border-black">
                    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{ episode.name }}</h1>
                    <h3 class="text-gray-600 font-lg text-semibold leading-6"></h3>

                    <ul class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                        <li class="flex items-center py-3">
                            <span class="mr-12">Air Date:</span>
                            <span class="ml-auto">{{ episode.airdate }}</span>
                        </li>
                        <li class="flex items-center py-3">
                            <span class="mr-12">Episode:</span>
                            <span class="ml-auto">{{ episode.episode }}</span>
                        </li>
                        <li class="flex items-center py-3">
                            <span class="mr-12">Season:</span>
                            <span class="ml-auto">{{ episode.season }}</span>
                        </li>
                    </ul>
                </div>
                <!-- End of profile card -->
                <div class="my-4">

                </div>

            </div>
            <!-- Right Side -->
            <div class="w-full md:w-9/12 mx-2">
                <!-- Profile tab -->
                <!-- About Section -->

                <div class="bg-white p-4 shadow-lg rounded-lg">
                    <div class="flex items-center space-x-2 mb-4">
                        <span class="text-gray-900 font-semibold text-lg">Characters in this Episode ({{ characters|length }})</span>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        <table class="table-auto">
                            <tbody>
                            {% for character in characters %}
                                <div class="bg-gray-100 rounded-lg p-4">
                                    <img src="{{ character.image }}" alt="{{ character.name }}" class="mx-auto w-24 h-24 rounded-full">
                                    <div class="text-center mt-2">
                                        <a href="/character/{{ character.id }}" class="text-gray-900 font-semibold hover:text-green-700">{{ character.name }}</a>
                                    </div>
                                    <div class="text-center mt-2">
                                        <a href="/character/{{ character.id }}" class="bg-gray-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                            See More
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- End of profile tab -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}